body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background: #0D47A1;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    flex-shrink: 0; /* Evita que el logo se reduzca de tamaño */
  }
  
  header .logo img {
    width: 100px; /* Ancho del logo */
    margin-left: 20px;
  }
  
  nav {
    display: flex;
    align-items: center; /* Asegura que las opciones del menú estén alineadas verticalmente */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    margin-left: 500px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer {
    background: #0D47A1;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  