/* Service Cards */
.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .services h2{
    text-align: center;
  margin-bottom: 2rem;
  color: #0D47A1;
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  .card p {
    padding: 0 1rem 1rem;
    color: #666;
  }