/* Team Grid */
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .team h2{
        text-align: center;

  }
  
  .member {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .member img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .member:hover img {
    transform: scale(1.1);
  }
  
  .member .info {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    transition: bottom 0.3s ease;
  }
  
  .member:hover .info {
    bottom: 0;
  }